<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>Sick Posting App</title>
    <style>
        .navbar-brand {
            font-size: 22px;
            font-weight: bold;
        }
        .navbar-nav a {
            font-size: 18px;
        }
        .list-group-item {
            font-size: 16px;
        }
        .form-control {
            font-size: 14px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Posting Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><%= username %></a>
                </li>
                <li class="nav-item">
                    <form action="/logout?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-link nav-link">
                            <i class="fas fa-sign-out-alt"></i>
                            Logout
                        </button>
                        </form>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container my-5">
        <h1 class="text-center">Posts</h1>
          <div class="row my-5">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><p>Title : <%= post.title %></h5>
                  <p class="card-text">Description: <%= post.description %></p>
                  <p class="card-text">Author: <%= post.author.username %></p>
                  <p class="card-text">Date: <%= post.date %></p>
                </div>
              </div>
            </div>
          </div>

          <div class="row my-5">
            <div class="col-md-12">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" onclick="window.location.href='/post/<%= post._id %>?currentIndex=<%= currentIndex - 1 %>'">Previous</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" onclick="window.location.href='/post/<%= post._id %>?currentIndex=<%= currentIndex + 1 %>'">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        
          <div class="row my-5">
            <div class="col-md-12">
              <h5>Comments</h5>
              <% comments.forEach(comment => { %>
                <div class="card my-3">
                  <div class="card-body">
                        <p class="card-text"><b>Username:</b> <%= username %></p>
                        <p class="card-text"><b>Comment: </b><%= comment.content %></p>
                  </div>
                </div>
              <% }); %>
            </div>
          </div>
          
          <div class="row my-5">
            <div class="col-md-12">
              <h5>Leave a Comment</h5>
              <form action="/post/<%= post._id %>/comment" method="post">
                <input type="hidden" name="currentIndex" value="<%= currentIndex %>">
                <div class="form-group">
                  <textarea name="content" class="form-control" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>