<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>Sick Posting App</title>
    <style>
        .navbar-brand {
            font-size: 22px;
            font-weight: bold;
        }
        .navbar-nav a {
            font-size: 18px;
        }
        .list-group-item {
            font-size: 16px;
        }
        .form-control {
            font-size: 14px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Posting Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><%= username %></a>
                </li>
                <li class="nav-item">
                    <form action="/logout?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-link nav-link">
                            <i class="fas fa-sign-out-alt"></i>
                            Logout
                        </button>
                        </form>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container my-5">
        <h1 class="text-center">Create your own Post</h1>
        <form action="/createpost" method="POST">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" name="title" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea name="description" class="form-control" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create Post</button>
          </form>
          <div class="row my-5">
            <% posts.forEach(post => { %>
                <div class="col-md-4 my-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="cursor: pointer;" onclick="window.location.href='/post/<%= post._id %>?currentIndex=<%= posts.indexOf(post) %>'"><%= post.title %></h5>
                            <p class="card-text">Author: <%= post.author.username %></p>
                            <p class="card-text">Date: <%= new Date(post.date).toLocaleDateString("default", { day: "2-digit", month: "2-digit", year: "2-digit" }).replace(/\//g, ".") %>
                            <% if (username == post.author.username) { %>
                                <div class="d-flex">
                                  <a href="#" class="edit-button" onclick="showEditForm(this)"><i class="fas fa-edit"></i></a>
                                  <form action="/edit/<%= post._id %>" method="post" class="edit-form" style="display:none;">
                                    <input type="hidden" name="_method" value="put">
                                    <div class="form-group">
                                      Title : <input type="text" name="title" class="form-control" value="<%= post.title %>">
                                    </div>
                                    <div class="form-group">
                                      Description : <textarea name="description" class="form-control"><%= post.description %></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                  </form>
                              
                                  <form action="/delete/<%= post._id %>" method="post">
                                    <input type="hidden" name="_method" value="delete">
                                    <% if (post.comments.length === 0) { %>
                                      <button class="border-0" type="submit" style="cursor: pointer;" onclick="return confirm('Are you sure you want to delete this post?')"><i class="fas fa-trash"></i></button>
                                    <% } else { %>
                                      <button class="border-0" type="button" style="cursor: not-allowed; opacity: 0.5;" disabled title="You can't delete post that contains comments"><i class="fas fa-trash"></i></button>
                                    <% } %>
                                  </form>
                              
                                  <div class="d-flex align-items-center">
                                    <i class="fas fa-comments"></i>
                                    <p class="mb-0 ml-2"><%= post.comments.length %> comments</p>
                                  </div>
                                </div>
                              <% } %>
                                </div>
                                </div>
                                </div>
                                <% }); %>
                                </div>
        <script>
            function showEditForm(button) {
    const cardBody = button.closest('.card-body');
    cardBody.querySelector('.card-title').style.display = 'none';
    cardBody.querySelectorAll('.card-text').forEach(text => {
        text.style.display = 'none';
    });
    cardBody.querySelector('.edit-button').style.display = 'none';
    cardBody.querySelector('.edit-form').style.display = 'block';
    
    const deleteButton = cardBody.querySelector('.fa-trash');
    deleteButton.style.display = 'none';

    const comments = cardBody.querySelector('.fa-comments');
    comments.style.display = 'none';

    const commentsNumber = cardBody.querySelector('.ml-2');
    commentsNumber.style.display = 'none';
}

        </script>
               
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>